@model BusSchedule.Data.Driver

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Driver</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DrverName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DrverName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DrverPhone)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DrverPhone)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DrverAddress)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DrverAddress)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DrverNID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DrverNID)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.DriverID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
